/* CSS Document /*/

/* All screens */


div.skype {
    position: fixed;
    top: 0px;
    right: 0px;
    background-image: url("../img/red_circle.png");
    background-position: left bottom;
}

/* main title */

h1 {
	font-family: "arial", "helvetica", sans-serif;
	font-size: 40px;
	font-style: italic;
	text-align: center;
}


/* Caregiver screen */

.main_container {
	font-family: "arial, sans-serif";
	height: 700px;
	position: relative;
}

.left_side {
	float: left;
	display: inline-block;
	width: 40%;
	height: 600px;
	border: 2px solid black;

}

.right_side {
	float: left;
	display: inline-block;
	width:60%;
	height: 600px;

}




/* Patient screen */